.confirmed-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmed-message h2 {
  text-transform: uppercase;
  font-family: var(--bodyFont);
  animation: moveBanner 1s 0.9s forwards;
}
.confirmed-icon {
  animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
