main {
  min-height: 100vh;
  padding: 2rem;
}
.products {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  place-items: center;
  gap: 20px;
  margin-top: 5rem;
}
.card {
  position: relative;
  border: 1px solid var(--green);
  background: var(--dark-navy);
  width: 320px;
  height: 330px;
  /* padding: 130px;
  margin: 20px; */
  position: relative;
  border-radius: var(--bradius);
  overflow: hidden;
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  z-index: 0;
}

.card::before {
  content: 'Premium';
  font-weight: 600;
  font-size: 8em;
  position: absolute;
  top: -90%;
  width: 100%;
  height: 100%;
  background: var(--light-navy);
  backdrop-filter: blur(210px);
  transform: skewY(345deg);
  transition: top 0.5s;
  border: 1px solid green;
  z-index: 3;
}

/* .card-container {
  position: relative;
  width: 18.5em;
  height: 350px;
  background-color: #233554;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
} */

.card:hover::before {
  top: -100%;
  /* transform: skewY(390deg); */
  /* transform: translateX(0); */
}
.card::after {
  content: 'Premium';
  position: absolute;
  /* margin-top: 10rem; */
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.3);
  color: var(--light-navy);
  /* border: 1px solid lightgoldenrodyellow; */
  z-index: -2500;
}

.card-img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
  z-index: 2;
}
.card-img-container img {
  max-width: 50%;
  transition: 0.5s;
}
/* .card:hover .card-img-container img {
  max-width: 50%;
} */

.card-content-container {
  /* margin-top: 40px; */
  position: relative;
  /* height: 100%; */
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  /* border: 1px solid red; */
}

.card-content-container h3 {
  font-family: var(--bodyFont);
  color: var(--green);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  /* margin-bottom: 10px; */
  text-align: center;
  /* margin-top: 25px; */
  position: absolute;
}

.card-content-container .card-price {
  font-family: var(--bodyFont);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: var(--green);
}

.card-btn {
  /* z-index: 5000; */
  background: green;
  cursor: pointer;
}
