.confirmed-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmed-message h2 {
  text-transform: uppercase;
  font-family: var(--bodyFont);
}
